@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

:root {
    --roxo-site: #080926;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #080926; /* Cor de fundo padrão */
    color: white;
}

html {
    scroll-behavior: smooth;
}


.container-grid {
    width: 70vw;
    max-width: 1632px;
    margin: 0 auto;
}


.banner {
    
    height: 110vh;

    background-image: url(imgens/Rectangle\ 53.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    height: 165px;

}

header img {
    width: 250px;
    
}

header .container-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.menu {
    margin-top: 15px;
    width: 1100px;
    display: flex;
    justify-content: space-between; 
}



.menu a {
    font-family: "Lexend Giga";
    font-weight: 700;
    font-size: 15px;
    color: white;
    text-decoration: underline transparent;
}

.menu a:hover {
    color: #311BBF;
}

.container-grid button {
    width: 185px;
    height: 40px;
    margin-top: -10px;

    border: none;
    border-radius: 15px;

    font-family: "Lexend Giga";
    font-weight: 700;
    font-size: 15px;
    color: white;

    background-color: rgba(255, 255, 255, 0.315);
    
}

.container-grid button:hover {
    color: #311BBF;
}


 
.conteudo-banner .posicao-text-van{
    margin-top: 335px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.container-grid p {
    max-width: 400px;
    padding: 10px; 
    font-family: "Lexend Giga";  
    font-weight: 400;
    font-size: 15px;
    
}

#conteudo {
  margin-left: 156px;
  margin-right: 156px;
  max-width: 1632px;
  justify-content: space-between;
  text-align: flex-start; 
  display: flex;
}


h1 {
   margin-top: 87px;
   margin-bottom: 68px;
   font-family: "Lexend Giga";  
   font-weight: 700;
   font-size: 22px;
}

h2 {
    margin-bottom: 68px;
    font-family: "Lexend Giga";  
    font-weight: 700;
    font-size: 20px;
}

.conteudo-text p {
    width: 425px;
    font-family: "Lexend Giga";  
    font-weight: 400;
    font-size: 13px;
    

    
}

.conteudo img {
    width: 500px;
    height: 300px;
    margin-top: 145px;
    margin-right: 50px;
    
}

.conteudo-text {
    margin-top: 70px;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
}

.cards img {
    width: 300px;
}

#cards {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    
}

.cards {
    width: 350px;
    height: 425px;
    margin: 30px;
    

    background-color: #00000083 ;
    border-radius: 50px;

    
    
}

.cards h3 {
    margin-top: 29px;
    margin-bottom: 18px;
    font-family: "Lexend Giga";  
    font-weight: 700;
    font-size: 18px;
    height: 100px;
    margin-left: 10px;
}

.cards p {
    margin-left: 0px;
    display: flex;
    align-items: baseline;
    font-size: 12px;
}

.container-cases {
    
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 190px;

        max-width: 1632px;
        margin-top: -50px;

}

.container-cases img {
     width: 275px;
     height: 275px;
}

#contato {
    text-align: center;
    width: 550px;
    height: 850px;
    background-color: white;
    border-radius: 60px;
  
    text-align: left;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 710px;
  
}

#contato button {
    width: 185px;
    height: 40px;
    margin-left: 75px;

    border: none;
    border-radius: 15px;

    font-family: "Lexend Giga";
    font-weight: 700;
    font-size: 15px;
    color: white;

    background-color: #080926a1;

}

#contato button:hover {
    color: #311BBF;
}


#contato h4 {
    margin-top: 90px;
    font-family: "Lexend Giga";
    font-weight: 700;
    font-size: 60px;
    color: black;
}

#contato p {
    margin-top: 20px;
    font-family: "Lexend Giga";
    font-weight: 600;
    font-size: 40px;
    color: black;

}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.input-box {
    display: flex;
    flex-direction: column;
    font-family: "Lexend Giga";
    font-weight: 700;
    font-size: 16px;
    color: black;

    margin: 25px;
    margin-top: 50px;
    margin-bottom: 40px;
    
}

.input-box input {
    border-radius: 11px;
    height: 30px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 6px #080926c0;
}

.input-boxx {
    display: flex;
    flex-direction: column;
    font-family: "Lexend Giga";
    font-weight: 700;
    font-size: 16px;
    color: black;

    margin: 120px;
    margin-top: -40px;
    
}

.input-boxx input {
    border-radius: 11px;
    height: 30px;
    box-shadow: 1px 1px 6px #080926c0;
}

.mensagem h5 {
    width: 700px;
    display: flex;
    align-self: center;
    font-family: "Lexend Giga";
    font-weight: 900;
    font-size: 22px;
    color: yellow;
    
    margin-left: 245px;
    margin-top: -450px;
    margin-bottom: 700px;
}

.footer img {
    width: 250px;
    height: 106px;
    margin-left: -30px;
    
}

nav.footer {
    margin-top: 30px;
    width: 1100px;
    display: flex;
    flex-direction: column;
}


.footer a {
    font-family: "Lexend Giga";
    font-weight: 700;
    font-size: 15px;
    color: white;
    margin-top: 17px;
    margin-left: -5px;
    text-decoration: underline transparent;
    
}

.footer a:hover {
    color: #311BBF;
}

.footer button {
    margin-top: -20px;
    margin-left: 5px;
}

#contato-conteudo {
    text-align: center;
    width: 700px;
    height: 550px;
    background-color: white;
    border-radius: 60px;
  
    text-align: left;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 560px;
  margin-top: -300px;
}

#contato-conteudo button {
    width: 140px;
    height: 35px;
    margin-left: 40px;
    margin-top: -15px;

    border: none;
    border-radius: 14px;

    font-family: "Lexend Giga";
    font-weight: 700;
    
    color: white;

    background-color: #080926a1;

}

#contato-conteudo button:hover {
    color: #311BBF;   
}


#contato-conteudo h4 {
    margin-top: 30px;
    font-family: "Lexend Giga";
    font-weight: 700;
    font-size: 60px;
    color: black;
}

#contato-conteudo p {
    margin-top: 15px;
    font-family: "Lexend Giga";
    font-weight: 600;
    font-size: 40px;
    color: black;

}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.input-box {
    display: flex;
    flex-direction: column;
    font-family: "Lexend Giga";
    font-weight: 700;
    font-size: 16px;
    color: black;

    margin: 15px;
    margin-top: 50px;
    
    
}

.input-box input {
    border-radius: 11px;
    height: 30px;
    
    box-shadow: 1px 1px 6px #080926c0;
}

.input-boxx {
    display: flex;
    flex-direction: column;
    font-family: "Lexend Giga";
    font-weight: 700;
    font-size: 16px;
    color: black;

    margin: 120px;
    margin-top: -40px;
    
}

.input-boxx input {

    border-radius: 11px;
    height: 30px;
    box-shadow: 1px 1px 6px #080926c0;

}


.mobile-menu {
    margin-top: -15px;
    /* display: none; */
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    margin-top: 10px;
}

@media screen and (max-width: 1350px) {
    nav.menu, .menu a {
      display: none;
      position: relative;
    } 
    
    .nav-list {
    display: none;
    position: absolute;
    /* background: #23232e; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

} 

}


@media screen and (max-width: 1080px) {}






    





 



